.line {
    position: relative;
    width: 15%;
    left: 0px;
    // max-width: 300px;
    height: 3px;
    background-color: $thiC;
    bottom: 15px;
    // margin: 0 auto;

    @media (min-width: 1024px) {
        width: 5%;
    }
}

.line--diff {
    @extend .line;
    background-color: $thiC;
}

.line--girl {
    @extend .line;
    background-color: $forC;
}